#core 
tensorflow==2.15.0
tensorflow-hub==0.15.0

#data handling
pandas==2.3.3
numpy==1.26.4
matplotlib

#pre-trained models and tokenizers
kagglehub==0.3.13

#configuration management
pydantic==2.12.5
pyyaml==6.0.3

#logging and progress
tqdm==4.67.1

#CLI
click==8.3.1

# Development
pytest==7.4.3
pytest-cov==4.1.0
black==23.12.1
ruff==0.1.11
setuptools==79.0.1